body {
    background-color: hsl(30, 18%, 87%);
}

h1 {
    color:hsl(24, 5%, 18%);
    margin-left: 20px;
    font-family: "Young Serif", serif;
}

p, ul, ol, div {
    color:hsl(30, 10%, 34%);
    font-family: "Outfit", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height:2em;
}

#instructions, #ingredients, #nutrition {
    color: hsl(14, 45%, 36%);
    margin-left:1rem;
    font-family: "Young Serif", serif;
    font-size:30px;
}

#nutrition-paragraph {
    margin-left: 1rem;
}

#preptime {
    color: hsl(332, 51%, 32%);
    margin-left: 2rem;
    font-family: "Outfit", sans-serif;
}

#page {
    background-color: hsl(30, 54%, 90%);
    width:40%;
    margin: 120px auto;
    border-radius: 15px;
    padding-top:40px;
}

.nutrition p {
    display: inline-block;
    margin-left: 3rem;
    width: 25%;
}

.name {
    width: 15%;
    color: hsl(30, 10%, 34%);
}

.value {
    width: 15%;
    color: hsl(14, 45%, 36%);
    font-weight:bold;
}

img {
    width: 75%;
    border-radius:15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

#paragraph-1 {
    margin-left: 20px;
}

ol li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

ul li::marker{
    color: hsl(14, 45%, 36%);
}

hr {
    border: 0;
    width: 90%;
    height: 2px;
    background: hsl(169, 12%, 88%);
}